<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>New user</title>
</head>
<body>
<form action="#" th:action="@{/admin/createNewUser}" th:object="${user}" th:method="POST">
    <label for="username">username</label>
    <input type="text" th:field="*{username}" id="username" required>
    <br><br>
    <label for="password">password</label>
    <input type="password" th:field="*{password}" id="password" class="form-control" required minlength="5"
           maxlength="20"/>
    <br><br>
    <br><br>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" required>
    <br><br>
    <label for="email">email</label>
    <input type="email" th:field="*{email}" id="email" class="form-control" required>
    <br>
    <br>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${list}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <br>
    <br>
    <input type="submit" value="Add User">
</form>
<br>
<br>
<a href="/logout">Logout</a>
</body>
</html>